.preview-img {
  width: 200px; /* Säädä kokoa sopivaksi */
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: block;
}

.current-image-preview p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}
