<app-navbar></app-navbar>

<div
  class="relative flex h-[calc(100dvh-85px)] w-full flex-col items-center justify-center pb-24 overflow-hidden"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchend)="endDrag()"
  (mousedown)="onMouseDown($event)"
  (mousemove)="onMouseMove($event)"
  (mouseup)="endDrag()"
  (mouseleave)="endDrag()"
>
  @if (isLoading) {
    <div class="flex flex-col items-center text-[#E67E22]">
      <i class="fas fa-circle-notch fa-spin text-5xl mb-4"></i>
      <p class="font-bold">Fetching recipes...</p>
    </div>
  } @else if (currentRecipe) {
    <div
      class="swipe-card absolute -mt-12 sm:mt-0 flex w-[320px] sm:w-[380px] flex-col overflow-hidden rounded-3xl bg-white shadow-2xl cursor-grab active:cursor-grabbing z-10"
      [style.transform]="transformString"
      [style.transition]="
        isDragging ? 'none' : 'transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275)'
      "
    >
      @if (currentX > 30) {
        <div
          class="absolute top-12 left-8 flex items-center gap-2 border-4 border-green-500 text-green-500 font-bold uppercase p-3 rotate-[-15deg] rounded-xl opacity-90 text-5xl pointer-events-none z-30 bg-white/90"
        >
          COOK <i class="fa-solid fa-fire text-orange-500"></i>
        </div>
      }
      @if (currentX < -30) {
        <div
          class="absolute top-12 right-8 border-4 border-red-500 text-red-500 font-bold uppercase p-3 rotate-[15deg] rounded-xl opacity-90 text-5xl pointer-events-none z-30 bg-white/90"
        >
          NOPE
        </div>
      }

      <div class="w-full pointer-events-none">
        <app-recipecard
          [recipe]="currentRecipe"
          class="[&_.h-48]:h-64 [&_.h-48]:sm:h-72"
        ></app-recipecard>
      </div>
    </div>

    <div class="absolute bottom-12 md:bottom-8 z-20 flex w-full justify-center gap-12 md:gap-16">
      <button
        (click)="handleSkip()"
        class="flex h-16 w-16 md:h-20 md:w-20 items-center justify-center rounded-full bg-white text-red-500 shadow-xl transition-transform hover:scale-110 active:scale-95 border border-zinc-100"
      >
        <i class="fas fa-times text-3xl md:text-4xl"></i>
      </button>

      <button
        (click)="handleMatch()"
        class="flex h-16 w-16 md:h-20 md:w-20 items-center justify-center rounded-full bg-white text-green-500 shadow-xl transition-transform hover:scale-110 active:scale-95 border border-zinc-100"
      >
        <i class="fa-solid fa-fire text-3xl md:text-4xl"></i>
      </button>
    </div>
  } @else {
    <div class="flex flex-col items-center text-center animate-bounce">
      <i class="fas fa-check-circle mb-4 text-6xl text-green-500"></i>
      <h2 class="text-2xl font-bold text-zinc-800 font-bebas tracking-wide">All caught up!</h2>
      <p class="mt-2 text-gray-600 font-sarabun">Come back later for more recipes.</p>
    </div>
  }
</div>
