@import 'tailwindcss';

@theme {
  --color-cooked-bg: #fdf5e6;
  --color-cooked-header: #e1f3f3;
  --color-cooked-dark: #305252;
  --color-cooked-orange: #fbc091;
  --color-cooked-light: #fedabd;
}

@layer base {
  .font-roboto {
    font-family: 'Roboto Condensed', sans-serif;
  }
  .font-sarabun {
    font-family: 'Sarabun', sans-serif;
  }
  .font-bebas {
    font-family: 'Bebas Neue', cursive;
  }
}

@media (max-width: 768px) {
  body {
    padding-bottom: 70px;
  }
}
